
.ipynb_checkpoints/TPFinal-checkpoint.ipynb
.ipynb_checkpoints/decisionTreeRegressor-checkpoint.ipynb
dockerfiles/fastapi/.DS_Store
.DS_Store
.DS_Store
functions/__pycache__/spotify_API.cpython-312.pyc
.DS_Store
.DS_Store
.DS_Store
.DS_Store
.DS_Store
