body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    background-color: #121212;
    color: #FFFFFF;
  }
  
  .top-nav {
    display: flex;
    align-items: center;
    padding: 20px;
    background: #000000;
    border-bottom: 1px solid #333;
  }
  
  .top-nav .logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  .content {
    padding: 20px;
  }
  
  .search-bar {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .search-bar input {
    width: 300px;
    padding: 10px;
    border: none;
    border-radius: 20px;
    margin-right: 10px;
    background: #282828;
    color: #FFF;
    outline: none;
  }
  
  .search-bar button,
  #confirmBtn,
  .share-btn,
  .add-to-spotify-btn,
  #searchBtn {
    padding: 10px 20px;
    background-color: #1DB954;
    border: none;
    border-radius: 20px;
    color: #FFF;
    cursor: pointer;
    font-weight: bold;
  }
  
  .search-results .recommendation-item,
  .recommendations-list .recommendation-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }
  
  .album-cover {
    width: 60px;
    height: 60px;
    margin-right: 15px;
    border-radius: 5px;
    object-fit: cover;
  }
  
  .track-info h3 {
    margin: 0;
    font-size: 16px;
  }
  
  .track-info p {
    margin: 5px 0 0 0;
    font-size: 14px;
    color: #B3B3B3;
  }
  
  .play-btn {
    background: none;
    color: #1DB954;
    border: 1px solid #1DB954;
    margin-left: 15px;
    border-radius: 20px;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .play-btn:hover {
    background: #1DB954;
    color: #FFF;
  }
  
  .back-btn {
    background: none;
    color: #FFF;
    border: 1px solid #FFF;
    border-radius: 20px;
    padding: 5px 10px;
    cursor: pointer;
    margin-bottom: 20px;
  }
  
  .actions {
    margin-top: 20px;
  }
  
  .page {
    display: none;
  }
  
  .page.visible {
    display: block;
  }
  
  #searchPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ocupa toda la altura de la ventana */
    text-align: center; /* Opcional: centra el texto */
  }

  #recommendationsPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ocupa toda la altura de la ventana */
    text-align: center; /* Opcional: centra el texto */
  }